@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-eligibility: 255 97 118;
    --color-security: 255 119 111;
    --color-access: 255 163 55;
    --color-use: 250 255 0;
    --color-develop: 210 249 100;
    --color-stewardship: 145 236 102;
    --color-transfer: 135 212 255;
    --color-rent: 177 150 254;
    --color-administration: 226 226 226;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  @apply hover:underline cursor-pointer;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.mapboxgl-popup-content {
  border-radius: 0;
}

.mapboxgl-popup-close-button {
  font-size: x-large;
  padding-right: 6px;
}

.mapboxgl-ctrl-bottom-left {
  @apply w-full flex justify-between flex-row-reverse;
}

@screen sm {
  /* Display attribution beneath Mapbox logo */
  .mapboxgl-ctrl-bottom-left {
    @apply w-auto flex flex-col-reverse;
  }
}

.title {
  @apply text-2xl;
}

@screen sm {
  .title {
    font-size: 50px;
    line-height: 52.5px;
    letter-spacing: -0.03em;
  }
}